table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.trash-icon {
    width: 20px;
    height: 20px;
}